<div class="row" style="margin-top: 50px;">
  <div class="col-md-4 col-sm-12 align-self-center" style="margin-top: 25px;">
    <div class="input-group mb-3">
      <div class="input-group">
        <select name="estado" ngModel #estado="ngModel">
          <option value="AC" selected>Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" (click)="pesquisarEstado(estado)">Adicionar</button>
        </div>
      </div>
    </div>

    <div [hidden]="!erroMensagem" class="alert alert-danger" role="alert">
      {{erroMensagem}}
    </div>
  </div>

  <div [hidden]="!chart" class="col-md-8 col-sm-12 shadow p-3 mb-5 bg-light rounded chart-container" style="margin-top: 40px;">
    <canvas id="canvas">
    </canvas>
  </div>
</div>
