<h1 class="my-4">
  <small>Pesquisar escolas</small>
</h1>

<!-- conteudo -->
<div class="row">
  <!-- parte maior esquerda -->
  <div class="col-lg-8">
    <div *ngFor="let escola of listaEscolas , let i = index ">
      <div>
        <table>
        <tr>
          <th  id="tabela">
              {{escola['nome']}}
          </th>
          <th  style="float:right;">
              <button type="button" (click)="detalhesEscola(i)" class="btn btn-info btn-sm" data-toggle="collapse" attr.data-target="{{'#'+ i}}">Detalhes</button>
          </th>
        </tr>
      </table>

        <div class="detalhes" id="{{i}}" class="collapse">
          <table id="tabela">
            <tr id="th">
              <th id="th1 th">Dependencia Administrativa </th>
              <th id="th2 th">Municipio</th>
              <th id="th3 th">Estado</th>
              <th id="th4 th">Ano do Censo</th>
            </tr>
            <tr id="th">
              <td id="td"> {{ detalheEscola['dependenciaAdministrativaTxt']}} </td>
              <td id="td"> {{ detalheEscola['nomeMunicipio']}} </td>
              <td id="td">{{ detalheEscola['siglaUf']}} </td>
              <td id="td">{{ detalheEscola['anoCenso']}}</td>
            </tr>
            <tr id="th">
              <th id="th1 th">Possui Refeitorio </th>
              <th id="th2 th">Possui Biblioteca</th>
              <th id="th3 th">Possui Laboratório de Info</th>
              <th id="th4 th">Possui Banda Larga</th>
            </tr>
            <tr id="th">
              <td id="td" [ngStyle]="{'background-color': detalheEscola['refeitorio'] == true ? 'green' : 'red' }"> {{ detalheEscola['refeitorio']}} </td>
              <td id="td" [ngStyle]="{'background-color': detalheEscola['biblioteca'] == true ? 'green' : 'red' }"> {{ detalheEscola['biblioteca']}} </td>
              <td id="td" [ngStyle]="{'background-color': detalheEscola['laboratorioInformatica'] == true ? 'green' : 'red' }">{{ detalheEscola['laboratorioInformatica']}} </td>
              <td id="td" [ngStyle]="{'background-color': detalheEscola['bandaLarga'] == true ? 'green' : 'red' }">{{ detalheEscola['bandaLarga']}}</td>
            </tr>
            <tr id="td">
              <th id="td">Endereço</th>
              <th id="td">Zona</th>
              <th id="td">Indice SocioEconômico</th>
              <th id="td">Região</th>
            </tr>
            <tr id="td">
             <td id="td"> {{detalheEscola['endereco']}}</td>
             <td id="td"> {{detalheEscola['tipoLocalizacaoTxt']}}</td>
             <td id="td"> {{detalheEscola['socioEconomico']}}</td>
             <td id="td"> {{detalheEscola['regiao']}}</td>
            </tr>
            <tr id="td">
                <th id="td">Média Enem Humanas</th>
                <th id="td">Média Enem Matemática</th>
                <th id="td">Média Enem Naturais</th>
                <th id="td">Média Enem Redação</th>
            </tr>
            <tr id="td">
                <td id="td"> {{detalheEscola['enemHumanas']}}</td>
                <td id="td"> {{detalheEscola['enemMatematica']}}</td>
                <td id="td"> {{detalheEscola['enemNaturais']}}</td>
                <td id="td"> {{detalheEscola['enemRedacao']}}</td>
               </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- parte menor direita -->
  <div class="col-lg-4">
    <form #f="ngForm" (ngSubmit)="pesquisarEscola(f.form)" novalidate>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nome da escola" name="nome-escola" ngModel required #first="ngModel">
        <div class="input-group-append">
          <button class="btn bg-info text-light">Pesquisar</button>
        </div>
      </div>
    </form>

    <!-- MENSGAEM DE ERRO -->
    <div [hidden]="!erroMensagem" class="alert alert-danger" role="alert">
      <p>{{erroMensagem}}</p>
    </div>
  </div>
</div>
