<h1 class="my-4">
  <small>LIsta de escolas</small>
</h1>

<!-- conteudo -->
<div class="row">
  <!-- parte maior esquerda -->
  <div class="col-lg-8">
    <div *ngFor="let escola of listaEscolas , let i = index ">

      <div class="container">
          <p>{{escola['nome']}} </p>

          <button type="button" (click)="detalhesEscola(i)" class="btn btn-info" data-toggle="collapse" attr.data-target="{{'#'+ i}}">Detalhes da escola</button>
          <div class="detalhes" id="{{i}}" class="collapse" >
              <table>
                  <tr>
                    <th id="th1">Possui area Verde </th>
                    <th id="th2"> Quantidade de computadores</th>
                    <th id="th3">Possui auditorio</th>
                    <th id="th4">tipo laboratorio Informatica escola</th>

                  </tr>
                  <tr>
                    <td> {{ detalheEscola['areaVerde']}} </td>
                    <td> {{ detalheEscola['computadores']}} </td>
                    <td>{{ detalheEscola['auditorio']}} </td>
                    <td>{{ detalheEscola['laboratorioInformatica']}}</td>
                  </tr>
                  
                </table>
          </div>

        </div>

    </div>
  </div>
  <!-- parte menor direita -->
  <div class="col-lg-4">
    <form #f="ngForm" (ngSubmit)="pesquisarEscola(f.form)" novalidate>
      <input name="nome-escola" ngModel required #first="ngModel">
      <button>Submit</button>
    </form>
    <div [hidden]="!erroMensagem" class="alert alert-danger" role="alert">
      <p>{{erroMensagem}}</p>
    </div>
  </div>

</div>

