table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    background-color: #C0C0C0;

}
table {
    width: 80%;
    left: 10%;
    right: 10;
}
#th1 {
    width: 30%;
}
#th2 {
    width: 10%;
}
div {
    text-align: center;
}
tr {
    background-color:#DCDCDC;
}
#nameEscola {
    border: 1px #A9A9A9;
    background-color: #c4e3f3;
}
#titulo{
    width: 100%;
}
#notaEnem {
    width: 10%;
}