#th, #td {
  border: 1px solid black;
  border-collapse: collapse;
}
#tabela{
  float: left;
}
#th {
  font-size: 0.8em;
  background-color: gray;
}
table {
  width: 100%;
}
#th1 {
  width: 5%;
}
#th2 {
  width: 20%;
}
#th3 {
  width: 10%;
}
#th4 {
  width: 10%;
}
#th5 {
  width: 10%;
}
div {
  text-align: center;
}
#tr {
  background-color: lightslategray;
}

