<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="../../assets/img/myCarousel/1.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="../../assets/img/myCarousel/2.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="../../assets/img/myCarousel/3.png" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Voltar</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Avançar</span>
      </a>

    <div class="container marketing">
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Quer descobrir os detalhes acadêmicos? <span class="text-muted">Pesquise sobre sua escola!</span></h2>
          <p class="lead">Aqui na <em>Escola Open</em> você encontrar informações importantes sobre sua escola.<br>Fique por dentro dos dados coletados pela nossa equipe!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="../../assets/img/escola-01.jpg" href="pesquisar-escolas" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Médias do ENEM pelos estados do Brasil?<br><span class="text-muted">Ainda não conferiu? Confira agora!</span></h2>
          <p class="lead">Coletamos os dados das médias do ENEM de cada estado do pais,<br> não deixe de conferir o seu estado!</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="../../assets/img/enem.jpg" href="/analise-enem" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Infraestrutura vs Rendimento acadêmico? <span class="text-muted">Tire suas dúvidas!</span></h2>
          <p class="lead">Descubra se a infraestrutura escolar realmente influência o rendimento acadêmico com base nas nossas pesquisas.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="../../assets/img/infra.jpg"  alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

    </div>
  </div>
</main>
